.nav > li > a:hover, .nav > li > a:focus{
  text-decoration:none;
  background-color:#ffffff;
}

.breadcrumb{
  text-align:center;
  background-color:transparent;
  border-bottom:1px solid #eee;
  padding-top:12px;
  padding-bottom:12px;
  margin-bottom:40px;
}

nav.navbar.navbar-default{
  margin-bottom:0px;
}

@media (min-width:992px) {
  .product h2{
    margin-top:0;
  }
}

.navbar .navbar-brand{
  font-size:24px;
  line-height:18px;
}

.reviewer-name{
  margin-right:10px;
}

.site-footer{
  padding:20px 0;
  text-align:center;
}

@media (min-width:768px) {
  .site-footer h5{
    text-align:left;
  }
}

.site-footer h5{
  color:inherit;
  font-size:16px;
}

.site-footer .social-icons a:hover{
  opacity:1;
}

.site-footer .social-icons a{
  display:inline-block;
  width:32px;
  border:none;
  font-size:20px;
  border-radius:50%;
  margin:4px;
  color:#fff;
  text-align:center;
  background-color:#798FA5;
  height:32px;
  opacity:0.8;
  line-height:32px;
}

@media (min-width:768px) {
  .site-footer .social-icons{
    text-align:right;
  }
}

.btn.write-review{
  float:right;
  margin-top:-6px;
}

a#btndesign.btn.btn-default{
  background-color:transparent;
  border:none;
  outline:none;
  overflow:hidden;
  display:inline-block;
  cursor:pointer;
  position:absolute;
  width:300px;
  height:200px;
  text-align:center;
  left:100px;
  padding:60px;
  line-height:80px;
}

a#btndesign2.btn.btn-default.btn-lg{
  border:none;
  outline:none;
  overflow:hidden;
  display:inline-block;
  cursor:pointer;
  position:absolute;
  width:300px;
  height:200px;
  text-align:center;
  left:600px;
  padding:60px;
  line-height:80px;
}

footer.site-footer{
  padding:20px 0;
  text-align:center;
}

a#position.btn.btn-default.navbar-btn{
  margin-left:600px;
}

div#signin{
  border:2px solid;
  padding:9px 35px;
  border-radius:20px;
  box-shadow:2px 2px 4px;
  margin-left:300px;
  margin-right:300px;
}
